/* Full Screen Container */
.splash {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: opacity 0.8s ease;
    z-index: 9999;
}

/* Fade animation when leaving screen */
.splash.fade-out {
    opacity: 0;
    pointer-events: none;
}


.uso{
   padding-bottom: 60px;
}


/* Logo Animation */
.logo-animate {
    width: 380px;
    max-width: 100%;
    animation: popIn 1.5s ease forwards;
    /* filter: drop-shadow(0 0 12px #22c55e); */
}

/* Rotating Text */
.hello-text {
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    margin-right: 30px;
    text-align: center;
    /* text-shadow: 0 0 15px rgba(255,255,255,0.4); */
    opacity: 0;
    animation: fadeInOut 0.4s ease-in-out forwards;
}

/* Pop-in animation */
@keyframes popIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Each greeting fade */
@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(10px) scale(0.95); }
    50% { opacity: 1; transform: translateY(0) scale(1); }
    100% { opacity: 0; transform: translateY(-10px) scale(1.05); }
}

/* Responsive */
@media (max-width: 768px) {
    .logo-animate {
        width: 250px;
    }
    .hello-text {
        font-size: 2.3rem;
    }
}

@media (max-width: 480px) {
    .logo-animate {
        width: 180px;
    }
    .hello-text {
        font-size: 1.8rem;
    }
}


