/* src/styles/Footer.css */

.footer {
    background: #2f2f2f;
    color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

.footer p {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-end;
}

.footer a {
    color: #22C55E;
    text-decoration: none;
    margin-right: 26px;
}

.footer a:hover {
    text-decoration: underline;
}