.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: #22C55E;
    /* margin-top: 10px; */

    position: sticky;
    /* makes it stay in place */
    top: 0;
    /* sticks to the top */
    z-index: 1000;
    /* stays above other sections */
    background: #000000;
    /* ensure it doesn’t become transparent */
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    width: 52px;
    /* adjust size */
    height: 52px;
    object-fit: contain;
}

.brand-name {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size:25px;
}

.nav-links a {
    text-decoration: none;
    color: #22C55E;
    font-weight: 500;
}

.menu-toggle {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #1565c0;
        position: absolute;
        top: 60px;
        right: 0;
        padding: 15px;
        border-radius: 8px;
    }

    .nav-links.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


.navbar.scrolled {
    background-color: #00000056;
    box-shadow: 0 2px 8px rgba(84, 163, 19, 0.753);
    transition: box-shadow 0.3s ease, background 0.3s ease;
}