.why-section {
    background: #22C55E;
    /* green background */
    padding: 70px 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    width: 80%;
    margin-left: 20%;
}

.why-text {
    flex: 1;
}

.why-text h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.why-text .tagline {
    display: inline-block;
    background: white;
    color: #22C55E;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.why-text p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-top: 15px;
}

.why-image {
    flex: 1;
    display: flex;
    justify-content:space-around;
}

.why-image img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border:2px solid whitesmoke;
    border-radius: 30% 70% 70% 30% / 40% 30% 70% 60%;
    animation: morph 8s ease-in-out infinite;
}

/* Morphing blob animation */
@keyframes morph {
    0% {
        border-radius: 30% 70% 70% 30% / 40% 30% 70% 60%;
    }

    33% {
        border-radius: 50% 50% 70% 30% / 30% 40% 60% 70%;
    }

    66% {
        border-radius: 60% 40% 40% 60% / 50% 60% 40% 50%;
    }

    100% {
        border-radius: 30% 70% 70% 30% / 40% 30% 70% 60%;
    }
}